.about-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-top: 2em;
}

.about-container h2 {
    text-align: center;
}

.about-container h3 {
    font-size: 1em;
}

.about-container p {
    font-size: 0.9em;
}

.about-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    width: 100%;
}

.about-subtitle-text {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
}

.about-subtitle-img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    width: 100%;
}

.about-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    width: 100%;
}

.about-header img {
    width: 10px;
    height: 10px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.about-subtitle img {
    display: none;
}

.about-subtitle h1 {
    text-align: center;
    font-size: 1.5em;
}

.about-list {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.about-list ul {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.about-icons {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.about-icon {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.about-icon img {
    width: 50px;
    height: 50px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

@media screen and (min-width: 768px) {
    .about-icons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2em 5em;
    }
}

@media screen and (min-width: 1200px) {
    .about-container section {
        width: 80%;
        margin: 0 auto;
    }

    .about-subtitle img {
        display: unset;
        width: 200px;
        height: auto;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
    }

    .about-icon {
        gap: 2em;
    }

    .about-icon img {
        width: 120px;
        height: 120px;
    }
}
