.privacy-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: start;
    line-height: 2;
    width: 90%;
}

.privacy-container h2 {
    text-align: center;
    margin-bottom: 1em;
}

.privacy-tittle {
    text-align: center;
    font-size: 32px;
    margin-top: 50px;
}

.last-update {
    margin-bottom: 80px;
    font-size: small;
}

.colored-underline {
    color: rgb(255, 60, 0);
    text-decoration: color(255, 60, 0);
    -webkit-text-decoration: color(255, 60, 0);
}

.third-service-list {
    padding-left: 20px;
}

.third-info {
    margin-left: 20px;
}
