.purchase-safe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.purchase-safe h1 {
    font-size: 1.5em;
    text-align: center;
}

.purchase-safe h2 {
    font-size: 1.1em;
    text-align: center;
}

.purchase-safe p,
.purchase-safe ul {
    font-size: 0.9em;
}

.purchase-safe-section {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1em 0;
}

.purchase-safe img {
    max-width: 300px;
    width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    display: block;
    margin: 0 auto;
}

.purchase-safe-green-color {
    width: 100%;
    background-color: #ebf6ea;
    color: var(--compromise-color);
    padding: 4em 0;
}

.purchase-safe-icon {
    display: none;
}

.purchase-safe-list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding-left: 2em;
}

.purchase-safe-pastel-color {
    width: 100%;
    background-color: #fef7f1;
}

.purchase-safe-container-flex-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.purchase-safe-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.purchase-safe-number {
    padding: 0.5em 1em;
    background-color: var(--temu-color);
    color: var(--light-color);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

@media screen and (min-width: 768px) {
    .purchase-safe-icon {
        display: block;
        position: relative;
    }

    .purchase-safe-icon-items {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .purchase-safe-flex {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4em 0;
    }

    .purchase-safe-flex img {
        width: 100%;
        height: auto;
        max-width: 500px;
    }

    .purchase-safe-container-flex-list {
        flex-wrap: unset;
    }

    .purchase-safe h2 {
        text-align: left;
    }

    .purchase-safe-container {
        align-items: flex-start;
    }

    .purchase-safe-pastel-color {
        padding: 5em 0;
    }

    .purchase-safe h1 {
        text-align: left;
    }

    .purchase-safe-header {
        display: flex;
        gap: 10em;
    }
}

@media screen and (min-width: 1400px) {
    .purchase-safe-flex {
        width: 50%;
    }
}
