.support-questions {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.support-questions header {
    background-image: url('../../assets/support-header.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 4em 0;
    color: #fff;
}

.support-questions h1 {
    font-size: 1.5em;
}

.support-container {
    width: 100%;
}

.support-items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
}

.support-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0;
}

.support-summary {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.support-summary::-webkit-details-marker {
    display: none;
}

.support-questions details[open] .safety-center-summary {
    border-bottom: 1px solid var(--gray-color);
}

.support-summary:hover {
    background-color: var(--gray-color);
}

.support-item-content {
    padding: 0.5em;
}

.support-item-content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.support-item-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .support-questions h1 {
        font-size: 2.5em;
    }

    .support-items {
        grid-template-columns: repeat(2, 1fr);
    }
}
