* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    --special-color: #f9697f;
    --special-banner-color: #f6cfcc;
    --compromise-color: #0b8900;
    --dark-color: #000000;
    --dark-color-90: #1e1e1e;
    --light-color: #fafeff;
    --gray-color: #e1e1e1;
    --temu-color: #fb7701;
    --green-cyan-color: #70efa2;
    --link-color: #007bff;
}

body {
    min-height: 100vh;
}

a {
    text-decoration: none;
}

input {
    padding: 0.9em;
    outline: none;
    border: 1px solid var(--gray-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

input:hover,
input:focus {
    border-color: var(--dark-color);
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border: 1px solid var(--gray-color);
    background-color: transparent;
    padding: 0.8em;
    font-size: medium;
    font-family: inherit;
    cursor: pointer;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.orange-button {
    font-weight: 500;
    color: var(--light-color);
    background-color: var(--temu-color);
    width: 100%;
}

.orange-button:hover {
    transform: scale(1.025);
    -webkit-transform: scale(1.025);
    -moz-transform: scale(1.025);
    -ms-transform: scale(1.025);
    -o-transform: scale(1.025);
}

.vertical-line {
    width: 1px;
    background: linear-gradient(
        0deg,
        var(--dark-color) 0%,
        var(--gray-color) 50%,
        var(--dark-color) 100%
    );
    min-height: 30px;
    height: 100%;
}

.max-width {
    margin: auto;
    max-width: 1380px;
}

details {
    padding: 0.5em 1em;
    border: 1px solid var(--gray-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

summary {
    font-weight: 500;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .orange-button {
        font-size: small;
    }
}
