* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    --special-color: #f9697f;
    --compromise-color: #0a8800;
    --dark-color: #000000;
    --dark-color-90: #1e1e1e;
    --light-color: #fafeff;
    --gray-color: #e1e1e1;
    --temu-color: #fb7701;
    --green-cyan-color: #70efa2;
    --link-color: #646cff;
}

a {
    font-weight: 500;
    color: var(--link-color);
    text-decoration: inherit;
}

a:hover {
    color: #747ae6df;
}

input {
    font-size: medium;
    padding: 10px;
    outline: none;
    border: 1px solid var(--gray-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

input:hover,
input:focus {
    border-color: var(--dark-color);
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border: 1px solid var(--gray-color);
    background-color: transparent;
    padding: 10px;
    font-family: inherit;
    cursor: pointer;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.orange-button {
    font-weight: 500;
    color: var(--light-color);
    background-color: var(--temu-color);
    width: 100%;
}

.orange-button:hover {
    transform: scale(1.025);
    -webkit-transform: scale(1.025);
    -moz-transform: scale(1.025);
    -ms-transform: scale(1.025);
    -o-transform: scale(1.025);
}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.align-start {
    align-items: start;
}

.space-around {
    width: 100%;
    justify-content: space-around;
}

.space-between {
    width: 100%;
    justify-content: space-between;
}

.vertical-line {
    /* border-left: 1px solid var(--gray-color); */
    width: 1px;
    background: linear-gradient(
        0deg,
        var(--dark-color) 0%,
        var(--gray-color) 50%,
        var(--dark-color) 100%
    );
    min-height: 30px;
    height: 100%;
}

.max-width {
    margin: auto;
    max-width: 1380px;
}

details {
    padding: 0.5em 2em;
    border: 1px solid var(--gray-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

summary {
    font-weight: 500;
    margin-bottom: 10px;
}
