.menu-item {
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    position: relative;
}

.sub-menu {
    display: none;
    position: absolute;
    background-color: var(--light-color);
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid var(--gray-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: 9999;
}

.sub-menu:before {
    content: '';
    position: absolute;
    top: -0.5em;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-bottom: 0.5em solid var(--light-color);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.menu-item:hover .sub-menu {
    display: block;
}

.sub-menu-overflowing-right {
    left: unset;
    right: 0;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.sub-menu-overflowing-right:before {
    left: unset;
    right: 0.5em;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.sub-menu-overflowing-left {
    left: 0;
    right: unset;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.sub-menu-overflowing-left:before {
    left: 0.5em;
    right: unset;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

@media screen and (max-width: 768px) {
    .sub-menu {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

    .sub-menu:before {
        display: none;
    }
}
