.product-prev {
    padding: 0 0.5em 0.5em 0.5em;
    /* max-width: 200px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
    cursor: pointer;
}

.product-prev img {
    width: auto;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.product-prev small {
    width: 100%;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-prev-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
}

.product-prev-container > div {
    display: flex;
    align-items: flex-end;
    gap: 0.5em;
}

.product-prev-price {
    color: var(--special-color);
    font-weight: bold;
}

.product-prev-offer {
    text-decoration: line-through;
    font-size: small;
}

.product-prev-cart {
    z-index: 10;
    border: 1px solid var(--dark-color);
    padding: 0.25em 0.5em;
    display: flex;
    align-items: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.product-prev-cart:hover {
    cursor: pointer;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.product-prev-link {
    color: var(--dark-color);
    text-decoration: none;
}

.product-prev-link:hover {
    transform: scale(1.025);
    -webkit-transform: scale(1.025);
    -moz-transform: scale(1.025);
    -ms-transform: scale(1.025);
    -o-transform: scale(1.025);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

.product-prev-discount {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.25em;
}

@media screen and (min-width: 768px) {
    .product-prev {
        max-width: 250px;
        font-size: medium;
    }

    .product-prev img {
        height: 250px;
        width: 250px;
    }
}
