.select-box {
    position: relative;
}

.select-container {
    background-color: var(--light-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    z-index: 300;
    border: 1px solid var(--gray-color);
    padding: 0.5em;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.select-container:hover {
    border-color: var(--dark-color);
    cursor: pointer;
}

.select-container.active {
    border-color: var(--dark-color);
}

.select-container.active::before {
    content: '';
    display: block;
    height: 0;
    width: 0;
    border-top: 15px solid var(--gray-color);
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    position: absolute;
    bottom: -15px;
    left: calc(50% - 15px);
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.select-dropdown {
    display: none;
    position: absolute;
    min-width: 300px;
    width: 100%;
    max-height: 200px;
    top: calc(100% + 0.5em);
    overflow-y: auto;
    background-color: var(--light-color);
    border: 1px solid var(--gray-color);
    scrollbar-color: var(--gray-color) var(--light-color);
    scrollbar-width: thin;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.select-dropdown.active {
    display: block;
}

@media screen and (max-width: 600px) {
    .select-container {
        padding: 0.25em;
        font-size: small;
        height: 100%;
    }
}
