.slider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-container {
    width: 100%;
    display: flex;
    gap: 0.5em;
    width: 100%;
    overflow-x: scroll;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.slider-container::-webkit-scrollbar {
    display: none;
}

.slider-arrow {
    display: none;
}

@media screen and (min-width: 768px) {
    .slider-arrow {
        display: block;
        cursor: pointer;
        background-color: var(--gray-color);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
}
