.bar {
    display: block;
    padding: 0.4em 0;
    background-color: var(--dark-color);
    color: var(--green-cyan-color);
    width: 100%;
    font-weight: bold;
}

.bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

.bar-article {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.bar-article:hover {
    cursor: pointer;
    text-decoration: underline;
}

.col-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bar-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    max-width: 640px;
    padding: 1em;
}

.bar-modal a {
    color: var(--dark-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    max-width: 640px;
    padding: 1em;
}

.bar-modal ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
    font-size: small;
    gap: 1em;
}

.bar-modal button {
    width: 300px;
}

.bar-details {
    min-width: 550px;
}

.bar-details details[open] {
    background: linear-gradient(to bottom, #e9f2e7, var(--light-color));
}

.bar-details details[open] summary {
    color: var(--compromise-color);
}

.bar-modal-icons {
    display: flex;
    justify-content: space-between;
}

.bar-modal-icon {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    text-align: center;
}

.bar-modal-qr {
    width: 100%;
    display: flex;
    align-items: center;
}

.bar-modal-qr div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin: auto;
    width: 40%;
    text-align: center;
}

.bar-modal-qr button {
    max-width: 200px;
    padding: 0;
}

.bar-modal-qr button:hover {
    border-color: var(--dark-color);
}

.bar-modal-qr a {
    color: var(--dark-color);
    flex-direction: row;
}

.bar-modal-qr a:hover {
    color: var(--dark-color);
}

.bar-modal-qr-container {
    background-image: url('/img-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--light-color);
    background-blend-mode: multiply;
}

@media screen and (max-width: 800px) {
    .bar {
        display: none;
    }
}
