.small-category,
.category-slider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-category > * {
    padding: 0 0.5em;
    width: auto;
    text-wrap: nowrap;
}

.subcategory-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 0.5em;
    text-align: center;
    font-size: smaller;
}

.subcategory-slider img {
    height: 50px;
    width: auto;
}
