.main-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}

.small-category,
.category-slider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-category > * {
    padding: 0 0.5em;
    width: auto;
    text-wrap: nowrap;
}

.categories-slider {
    padding: 0 0.25em;
}

.subcategory-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 0.5em;
    text-align: center;
    font-size: smaller;
}

.subcategory-slider img {
    height: 50px;
    width: auto;
}

.banner-background {
    background-color: #f6cfcc;
}

.banner-container {
    width: 100%;
}

.banner {
    width: 100%;
    height: auto;
}

@media screen and (min-width: 850px) {
    .small-category-container {
        display: none;
    }
}
