/* @import '../index.css'; */

.navbar {
    background-color: var(--special-color);
    width: 100%;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
}

.logo {
    width: 100px;
    height: auto;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 1em;
    color: var(--light-color);
}

.links li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    padding: 0.5em;
}

.links li:hover {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

a {
    color: var(--light-color) !important;
}

.search {
    background-color: var(--light-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.search {
    background-color: var(--light-color);
}

.search input {
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.search button {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 0.5em 1em;
}
