@import '../index.css';

.bar {
    padding: 0.5em 1em;
    background-color: var(--dark-color);
    color: var(--green-cyan-color);
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .bar {
        display: none !important;
    }
}
