@import '../index.css';

dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    max-width: 450px;
    border: none;
    margin: auto;
}

.block {
    display: block;
}

.hidden {
    display: none;
}

.phone-input {
    display: flex;
}

.phone-input input {
    width: 65%;
}

.green {
    color: var(--compromise-color);
}

.icon {
    background-color: var(--gray-color);
    padding: 0.5em;
    border-radius: 50%;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1em;
    gap: 1em;
}

form a {
    font-size: smaller;
    font-weight: 400;
    margin: auto;
    color: var(--dark-color);
    text-decoration: underline;
}

form a:hover {
    cursor: pointer;
    color: var(--dark-color);
}

.login-with {
    gap: 1em;
    width: 100%;
}

hr {
    color: var(--gray-color);
    width: 80px;
}

.terms {
    text-align: center;
}

.terms a {
    text-decoration: underline;
}
