.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 500px;
    padding: 1.5em;
    padding-bottom: 2em;
}

.login-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    width: 100%;
}

.login-title h3 {
    font-weight: 500;
    text-align: center;
}

.login-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login-row {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login-block {
    display: block;
}

.login-hidden {
    display: none;
}

.phone-input {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.login-green {
    color: var(--compromise-color);
}

.login-orange {
    color: var(--temu-color);
}

.icon {
    background-color: var(--gray-color);
    padding: 0.5em;
    border-radius: 50%;
}

.login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1em;
    gap: 1em;
}

.login-container form a {
    font-size: smaller;
    font-weight: 400;
    margin: auto;
    color: var(--dark-color-90);
    text-decoration: underline;
    cursor: pointer;
}

.login-with {
    font-size: small;
    margin-top: 1em;
    gap: 1em;
    width: 100%;
    text-align: center;
}

.facebook-button {
    color: #3b5998;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

hr {
    color: var(--gray-color);
    width: 25%;
}

.terms {
    margin-top: 1em;
    font-size: smaller;
    text-align: center;
}

.terms a {
    color: var(--link-color);
    text-decoration: underline;
}

.phone-code {
    margin-top: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.phone-select {
    width: 100%;
    padding: 0.5em;
    cursor: pointer;
}

.phone-select:hover {
    background-color: var(--gray-color);
}

.login-forgot {
    display: block;
    width: 100%;
    text-align: end;
}

.login-input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5em;
}

.login-error {
    color: red;
}

/* Estilos generales del form */
.login-input-container {
    margin-bottom: 20px;
}

.login-input-container label {
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-color);
}

.login-input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--gray-color);
    border-radius: 5px;
    font-size: 14px;
}

.login-small-link {
    border-bottom: 1px solid var(--dark-color);
    cursor: pointer;
}

.login-problem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 100%;
    padding: 1em 2em;
    max-width: 480px;
}

.login-problem h2 {
    font-size: 24px;
    font-weight: 500;
    color: var(--dark-color);
}

.login-problem button {
    width: 100%;
}

.login-reset-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    width: 100%;
    padding: 1em 2em;
    max-width: 480px;
}

.login-reset-password input {
    width: 100%;
}

.login-verify {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
}

@media screen and (max-width: 500px) {
    .login-container {
        width: 100%;
        height: 90vh;
        padding: 0.5em;
    }

    .login-container form {
        padding: 0.5em;
        gap: 0.5em;
    }
}
