.simple-navbar {
    background-color: var(--light-color);
    width: 100%;
    border-bottom: 1px solid var(--gray-color);
}

.simple-navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3em 0;
}

.simple-navbar-container ul {
    display: flex;
    align-items: center;
    gap: 0.5em;
    list-style: none;
}

.simple-navbar-container li {
    list-style: none;
}

.simple-navbar-container ul li a {
    font-size: 0.9em;
    padding: 0.8em 0.5em;
}

.simple-navbar .navbar-hover::before {
    background-color: var(--gray-color);
}

.simple-navbar-item {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.simple-navbar-icon {
    display: none;
}

.simple-navbar-logo {
    height: 50px;
    width: auto;
}

@media screen and (min-width: 768px) {
    .simple-navbar-icon {
        display: flex;
    }
}
